<h1>股票数据</h1>
<form class="form-inline step-mb10">
    <label class="sr-only" for="inlineFormInput">股票数据</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" ng-model="stockCode" placeholder="股票代码">
    <button class="btn btn-primary" ng-click="search()">查询</button>
</form>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>标题</th>
                <th>来源</th>
                <th>时间</th>
                <th>具体时间</th>
            </tr>
            <tbody>
                <tr ng-repeat="item in dataList">
                    <td></td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </thead>
    </table>
</div>

